<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="SHORTCUT ICON" href="icon/ptt.ico" >
    <link rel="shortcut icon" sizes="128x128" href="icon/ptt-128.png">
    <link rel="shortcut icon" sizes="196x196" href="icon/ptt-196.png">
    <link rel="apple-touch-icon" href="icon/ptt-64.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icon/ptt-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icon/ptt-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icon/ptt-152.png">
    <title>My Ptt</title>

    <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.2.min.css">
    <!-- jQuery and jQuery Mobile -->
    <script src="javascripts/libs/jquery-1.11.1.min.js"></script>
    <script src="javascripts/libs/jquery.mobile-1.4.2.min.js"></script>
    <script src='javascripts/pttDatabaseHelper.js'></script>
    <script src='javascripts/ptt.js'></script>

    <style>
      #progress_bar {
        margin: 10px 0;
        padding: 3px;
        border: 1px solid #000;
        font-size: 14px;
        clear: both;
        opacity: 0;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
      }
      #progress_bar.loading {
        opacity: 1.0;
      }
      #progress_bar .percent {
        background-color: #99ccff;
        height: auto;
        width: 0;
      }
    </style>
    <!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11206621-6', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
    -->
</head>
<body>
  <!-- Home -->
  <div data-role="page" id="fav_page" data-url="fav_page">
    <div data-theme="a" data-role="header">
        <a data-ajax="false" data-role="button" data-theme='a' href="#board_page" data-icon="plus" data-iconpos="left" class="ui-btn-right" >Add More</a>
        <a id="hotBoardsBtn" data-ajax="false" data-role="button" data-theme='a' href="#hot_page" data-icon="grid" data-iconpos="left" class="ui-btn-left">熱門看板</a>
        <h1 class='ui-title'>My Ptt</h1>
    </div>
    <div data-role="content">
        <div>
            <ul id='itemListView' data-role="listview" data-split-icon="minus" data-split-theme="d" data-inset="true">
            </ul>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
	    <h3>Powered by BH_Lin</h3>
	 </div>
  </div>
  <!-- Favorite Page -->
  <div data-role="page" id="hot_page" data-url="hot_page">
    <div data-theme="a" data-role="header">
        <a data-ajax="false" data-role="button" data-theme='a' href="#fav_page" data-icon="arrow-r" data-iconpos="right" 
        class="ui-btn-right">回我的最愛</a>
        <h1 class='ui-title'>熱門看板</h1>
    </div>
    <div data-role="content">
        <div>
            <ul id='hotBoardListView' data-role="listview" data-split-icon="minus" data-split-theme="d" data-inset="true">
            </ul>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
      <h3>Powered by BH_Lin</h3>
    </div>
  </div>
  <!-- All Board Search Page -->
  <div data-role="page" id="board_page" data-url="board_page">
    <div data-theme="a" data-role="header">
        <a data-ajax="false" data-role="button" data-theme='a' href="#fav_page" data-icon="arrow-l" data-iconpos="left" 
        class="ui-btn-left">回我的最愛</a>
        <h1 class='ui-title'>搜尋看板</h1>
    </div>
    <div data-role="content">
        <div>
            <ul id='allBoardListView' data-role="listview" data-split-icon="minus" data-split-theme="d" data-inset="true">
            </ul>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
      <h3>Powered by BH_Lin</h3>
    </div>
  </div>
  <!-- other visual component -->
  <!-- Show article lists Page -->
  <div data-role="page" id="article_list_page" data-url="article_list_page">
    <div data-theme="a" data-role="header">
        <a data-ajax="false" data-role="button" data-theme='a' href="#fav_page" data-icon="arrow-l" data-iconpos="left" 
        class="ui-btn-left">[回我的最愛]</a>
        <h1 class='ui-title'>[要帶進來]</h1>
    </div>
    <div data-role="content">
        <div>
            <ul id='allBoardListView' data-role="listview" data-split-icon="minus" data-split-theme="d" data-inset="true">
            </ul>
        </div>
    </div>
    <div data-theme="a" data-role="footer" data-position="fixed">
      <h3>Powered by BH_Lin</h3>
    </div>
  </div>
  <!-- hidden lightbox for delete item -->
  <div data-theme="a" data-role="popup" id="deleteDialog" data-theme="d" data-overlay-theme="b" class="ui-content"
       style="max-width:340px; padding-bottom:2em;">
      <h3>Delete Item?</h3>
      <p id='deleteItemText'></p>
      <a id='button_deleteItem' data-role="button" data-rel="back"
              data-icon="check" data-inline="true" data-mini="true">Yes</a>
      <a data-role="button" data-rel="back" data-inline="true" data-mini="true">No</a>
  </div>
</body>
</html>

